<article class="affiliates">
	<div class="panel">
		{% for item in global.affiliates limit:1 %}
            <figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
    		<header>{{ item.title }}</header>
    		<p>{{ item.description }}</p>
    		<div class="row">
    			<div class="large-6 columns"><a href="" class="view-more" title="">Ver beneficios</a></div>
    			<div class="large-6 columns"><a href="" class="button" title="">{{ item.action }}</a></div>
    		</div>
        {% endfor %}
	</div>
</article>