<article class="affiliates">
	<div class="panel">
		<figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
		<header>Circulo de afiliados</header>
		<p>Acceda a servicios preferenciales y obtenga descuentos</p>
		<div class="row">
			<div class="large-6 columns"><a href="" class="view-more" title="">Ver beneficios</a></div>
			<div class="large-6 columns"><a href="" class="button" title="">Afiliarse</a></div>
		</div>
	</div>
</article>