<article class="conflicts">
	<div class="panel">
	<header>Solución de conflictos</header>
	<p class="description">Nuestro centro de Arbitraje y Conciliación (CAC)</p>
	<a href="" class="view-more" title="">Saber más</a>
	</div>
</article>