<article class="research">
	<div class="panel">
		{% for item in global.research %}
			<header>{{ item.title }}</header>
			<p class="description">{{ item.description }}</p>
			<a href="" class="view-more" title="">Saber más</a>
		{% endfor %}
	</div>
</article>


