<article class="research-mini">
	<div class="panel">
		<div class="row">
			<div class="large-4 small-4 columns">
				{{ "150x100" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}
			</div>
			<div class="large-8 small-8 columns">
				<header>Investigación de mes</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec bibendum justo.</p>
				<a href="" class="view-more" title="">ver más investigaciones</a>
			</div>
		</div>
	</div>
</article>