<article class="research">
	<div class="panel">
	<header>Investigación Bogotá y región</header>
	<p class="description">Cifras, estudios, encuestas y más.</p>
	<a href="" class="view-more" title="">Saber más</a>
	</div>
</article>