<div>Seminarios</div>
<article>
	<div class="panel">
	<figure>{{ "300x300" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}</figure>
	<header>Aplicación práctica en casos laborales</header>
	</div>
</article>