<div class="row">
	<div class="large-12 columns"><header>Conozca nuestros servicios</header></div>
	<div class="large-5 medium-6 columns">
		{% include "services/affiliates" %}
	</div>
	<div class="large-7 medium-6 columns">
		<div class="row">
			<div class="large-12 columns">
				{% include "services/training" %}
			</div>
			<div class="large-6 medium-6 columns">
				{% include "services/conflicts" %}
			</div>
			<div class="large-6 medium-6 columns">
				{% include "services/research" %}
			</div>
		</div>
	</div>
</div>