<div class="tools">
	<div class="panel">
		<header>Herramienta</header>
		<ul class="side-nav">
			<li><a href="#">ABC del nuevo código CIIU</a></li>
			<li><a href="#">Guía paso a paso</a></li>
			<li><a href="#">Biblioteca Virtual</a></li>
			<li><a href="#">Tutoriales</a></li>
		</ul>
	</div>
</div>