<article class="tools-mini">
	<header>Herramientas de creación de empresa</header>
	<div class="row">
		<div class="large-6 small-6 columns">
		<span class="icon">{{ "30x30" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}</span>Formatos
		</div>
		<div class="large-6 small-6 columns">
			<span class="icon">{{ "30x30" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}</span>Tutoriales
		</div>
		<div class="large-6 small-6 columns">
			<span class="icon">{{ "30x30" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}</span>Biblioteca virtual
		</div>
		<div class="large-6 small-6 columns">
			<span class="icon">{{ "30x30" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}</span>ABC de la formalización
		</div>
	</div>
</article>

