<article class="training">
	<div class="panel">
	<header>Capacitaciones</header>
	<p>
		{% for item in global.training-type %}
		<a href="" class="" title="">{{ item.type }}</a>
		{% endfor %}
	</p>
	</div>
</article>