<article class="panel training-pane">
	<div class="row">
		<div class="large-8 columns">
			<header>Introducción a las normas internacionales de información para microempresas</header>
			<div class="training-description">
				<ul>
					<li>Fundamentos generales de las normas internacionales de formación financiera</li>
					<li>Marco conceptual</li>
					<li>Evolución entre emisor, proceso de emisión y enfoque</li>
					<li>Proceso de convergencia</li>
					<li>Activos</li>
				</ul>
			</div>
			<div class="training-hours">
				<div>intensidad: 40 horas</div>
			</div>
			<div class="training-area">
				Area: <a href="" title="">Ventas</a>, <a href="" title="">Ventas</a>, <a href="" title="">Ventas</a>
			</div>
			<div>
				<a href="" class="view-more" title="">Ver todo el contenido</a>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="row">
				<div class="large-12 columns">
				<div class="trainnig-investment">
					Inversión:
					$1.200.000
				</div>
				</div>
				<div class="large-12 columns">
				<div class="training-close">
					cierre de inscripción
				</div>
				</div>
				<div class="large-12 columns">
				<div class="training-open">
					inicio de clases
				</div>
				</div>
				<a href="" class="button" title="">Inscribirse</a>
			</div>
		</div>
	</div>
</article>