<article class="training">
	<div class="panel">
	<header>Capacitaciones</header>
	<p>
		<a href="" class="" title="">Cursos</a>,
		<a href="" class="" title="">charlas</a>,
		<a href="" class="" title="">seminarios</a>,
		<a href="" class="" title="">diplomados</a> y
		<a href="" class="" title="">Programa Tutor</a>
	</p>
	</div>
</article>