<header class="hide-for-small-only header-holder">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-8 medium-8 columns">
					{% include "header/eyebrow" %}
				</div>
				<div class="large-4 medium-4 columns">
					{% include "header/lang" %}
					{% include "header/search" %}
				</div>
			</div>
		</div>
		<div class="large-12 columns">
			{% include "header/top-bar" %}
		</div>
	</div>
</header>