<div class="main-news">
	<header class="section-title">Noticias</header>
	<div class="row">
		<div class="large-12 medium-6 columns">
			{% include "news/spot-news" %}
		</div>
		<div class="large-12 medium-6 columns">
			{% include "news/secondary-news" %}
		</div>
	</div>
</div>