<div class="panel">
	<div class="row collapse">
		<div class="large-8 medium-12 columns">
			{% include "news/main-news"%}
		</div>

		<div class="large-4 medium-12 columns">
			{% include "news/other-news"%}
		</div>
	</div>
</div>

