<aside class="other-news">
	<ul>
		{% for item in global.news limit:7 offset:5 %}
		<li><a href="" class="" title="">{{ item.title}}</a></li>
		{% endfor %}
	</ul>
	<a href="" class="view-more" title="">Ver más noticias</a>
</aside>
