<aside class="other-news">
	<ul>
		<li><a href="" class="" title="">Conozca qué se dijo en el Debate con los candidatos a la Presidencia</a></li>
		<li><a href="" class="" title="">Pronunciamiento de la Cámara de Comercio de Bogotá</a></li>
		<li><a href="" class="" title="">título</a></li>
		<li><a href="" class="" title="">título</a></li>
		<li><a href="" class="" title="">título</a></li>
		<li><a href="" class="" title="">título</a></li>
	</ul>
	<a href="" class="view-more" title="">Ver más noticias</a>
</aside>