<article class="relate-spot-news">
	<div class="row">
		<div class="large-12 columns">
			<figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
		</div>
		<div class="large-12 columns">
			<header><a href="" title="">Foro Bogotá siempre gana con el sistema de transporte</a></header>
			<div class="excerpt hide-for-small-only">
				<p>Conozca de la mano de los expertos en movilidad y transporte, el estado de la implementación del Sistema Integrado de Transporte Público de Bogotá (SITP)</p>
			</div>
		</div>
	</div>
</article>

