<div class="relate-news">
	<div class="row">
		<div class="large-6 columns">
			{% include "news/relate-spot-news" %}
		</div>
		<div class="large-6 columns">
			{% include "news/sector-news" %}
		</div>
	</div>
</div>