<aside class="secondary-news">
	<div class="row">
		<div class="large-3 medium-12 small-6 columns">
			<article>
				<div class="row">
					<div class="large-12 medium-6 small-12 columns">
						<figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
					</div>
					<div class="large-12 medium-6 small-12 columns">
						<header><a href="" title="">Foro "Presente y futuro de la franquicia en Colombia"</a></header>
					</div>
				</div>
			</article>
		</div>
		<div class="large-3 medium-12 small-6 columns">
			<article>
				<div class="row">
					<div class="large-12 medium-6 small-12 columns">
						<figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
					</div>
					<div class="large-12 medium-6 small-12 columns">
						<header><a href="" title="">Foro "Presente y futuro de la franquicia en Colombia"</a></header>
					</div>
				</div>
			</article>
		</div>
		<div class="large-3 medium-12 small-6 columns hide-for-small-only">
			<article>
				<div class="row">
					<div class="large-12 medium-6 small-12 columns">
						<figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
					</div>
					<div class="large-12 medium-6 small-12 columns">
						<header><a href="" title="">Foro "Presente y futuro de la franquicia en Colombia"</a></header>
					</div>
				</div>
			</article>
		</div>
		<div class="large-3 medium-12 small-6 columns hide-for-small-only">
			<article>
				<div class="row">
					<div class="large-12 medium-6 small-12 columns">
						<figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
					</div>
					<div class="large-12 medium-6 small-12 columns">
						<header><a href="" title="">Foro "Presente y futuro de la franquicia en Colombia"</a></header>
					</div>
				</div>
			</article>
		</div>
	</div>
</aside>
