<aside class="sector-news">
	<header>Emprendimiento</header>
	{% for item in global.news limit:5 offset:1 %}
		<article class="sector-news-item">
		<header><a href="" title="">{{ item.title}}</a></header>
		</article>
	{% endfor %}
	<div class="text-right">
		<a href="" class="view-more" title="">Ver más noticias</a>
	</div>
</aside>


