<article class="spot-news">
	<div class="row">
		<div class="large-6 columns">
			<figure>{{ "435x300" | placeholder:'f1f1f1' | image_tag:'Placeholder' }}</figure>
		</div>
		<div class="large-6 columns">
			{% for item in global.news limit:1 %}
				<header><a href="" title="">{{ item.title}}</a></header>
				<div class="excerpt hide-for-small-only">
					<p>{{ item.description}}</p>
				</div>
			{% endfor %}
			<a href="" class="link" title="">Más información</a>
		</div>
	</div>
</article>

