<article class="faq">
	<header>Preguntas frecuentes</header>
	<dl class="accordion faq-list" data-accordion>
		<dd class="">
			<a href="#faq1">Pregunta frecuente 1</a>
			<div id="faq1" class="content active">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</dd>
		<dd>
			<a href="#faq2">Pregunta frecuente 2</a>
			<div id="faq2" class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</dd>
		<dd>
			<a href="#faq3">Pregunta frecuente 3</a>
			<div id="faq3" class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</dd>
		<dd>
			<a href="#faq4">Pregunta frecuente 4</a>
			<div id="faq4" class="content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</dd>
	</dl>
	<div class="text-right">
		<a href="" class="view-more" title="">Todas las preguntas frecuentes</a>
	</div>
</article>