<article class="faq">
	<header>Preguntas frecuentes</header>
	<dl class="accordion faq-list" data-accordion>

	{%for item in global.faq limit:3 %}
		<dd class="">
			<a href="#faq1">{{ item.title}}</a>
			<div id="faq1" class="content">
				<p>{{ item.description }}</p>
			</div>
		</dd>
	{% endfor %}
	</dl>
	<div class="text-right">
		<a href="" class="view-more" title="">Todas las preguntas frecuentes</a>
	</div>
</article>