<article class="glossary">
	<header class="">Glosario</header>
	<dl class="glossary-list">
		{% for item in global.glossary limit:3  %}
			<dt>{{ item.title}}</dt>
			<dd><p>{{ item.description }}</p></dd>
		{% endfor %}

	</dl>
	<div class="text-right">
		<a href="" class="view-more" title="">Ver glosario</a>
	</div>
</article>