<article class="glossary">
	<header class="">Glosario</header>
	<dl class="glossary-list">
		<dt>Persona natural</dt>
		<dd><p>Phasellus ac orci sit amet ipsum euismod imperdiet et eget nisi. Vestibulum tristique, quam a commodo hendrerit, eros velit feugiat neque</p></dd>
		<dt>Otro término</dt>
		<dd><p>Phasellus ac orci sit amet ipsum euismod imperdiet et eget nisi. Vestibulum tristique, quam a commodo hendrerit, eros velit feugiat neque</p></dd>
		<dt>Otro término</dt>
		<dd><p>Phasellus ac orci sit amet ipsum euismod imperdiet et eget nisi. Vestibulum tristique, quam a commodo hendrerit, eros velit feugiat neque</p></dd>
	</dl>
	<div class="text-right">
		<a href="" class="view-more" title="">Ver glosario</a>
	</div>
</article>
