<header>Sectores estrategicos</header>

<ul class="side-nav">
	<li><a href="#">Agrícola y agroindustrial</a>
		<ul class="side-nav">
			<li><a href="#">Planes y proyectos</a></li>
			<li><a href="#">Actores Sociales</a></li>
			<li><a href="#">Gestión ambiental</a></li>
		</ul>
	</li>
	<li><a href="#">Confección</a></li>
	<li><a href="#">Industrias creativas y culturales</a></li>
	<li><a href="#">Más sectores</a></li>
</ul>