
            <h2>Sectores estratégicos</h2>

            <p>Nam vestibulum quam a ante luctus, consequat venenatis nisl sollicitudin. Aenean vehicula lectus non ligula dignissim pulvinar. Sed ornare odio metus, ut faucibus neque lobortis vitae. Fusce suscipit sem non tempor hendrerit. Sed non malesuada dui. Maecenas a mi lacus. Donec libero ante, hendrerit ut mollis non, euismod vel arcu. Etiam egestas dolor semper metus condimentum, adipiscing varius tortor sollicitudin.</p>


        <div class="row">
            <div class="large-6 columns">
                <article class="sectors-mini">
                    <div class="panel">
                        <div class="row">
                            <div class="large-4 small-4 columns">
                                {{ "150x100" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}
                            </div>
                            <div class="large-8 small-8 columns">
                                <header>Capacitaciones</header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec bibendum justo.</p>
                                <a href="" class="view-more" title="">ver más investigaciones</a>
                            </div>
                        </div>
                    </div>
                </article>


            </div>
            <div class="large-6 columns">
                <article class="sectors-mini">
                    <div class="panel">
                        <div class="row">
                            <div class="large-4 small-4 columns">
                                {{ "150x100" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}
                            </div>
                            <div class="large-8 small-8 columns">
                                <header>Confección</header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec bibendum justo.</p>
                                <a href="" class="view-more" title="">ver más investigaciones</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="large-6 columns">
                <article class="sectors-mini">
                    <div class="panel">
                        <div class="row">
                            <div class="large-4 small-4 columns">
                                {{ "150x100" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}
                            </div>
                            <div class="large-8 small-8 columns">
                                <header>Industrias creativas y culturales</header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec bibendum justo.</p>
                                <a href="" class="view-more" title="">ver más investigaciones</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="large-6 columns">
                <article class="sectors-mini">
                    <div class="panel">
                        <div class="row">
                            <div class="large-4 small-4 columns">
                                {{ "150x100" | placeholder:'d1d1d1' | image_tag:'Placeholder' }}
                            </div>
                            <div class="large-8 small-8 columns">
                                <header>Taller de avances industriales</header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec bibendum justo.</p>
                                <a href="" class="view-more" title="">ver más investigaciones</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
