<article class="relevant-1">
	<div class="panel">
	<header class="title">Cree<br/>su empresa</header>
	</div>
	<div class="panel hide-for-small-only">
		<div class="description"><strong>La Cámara le ayuda a realizar su sueño</strong></div>
		<div class="relevant-offer">
			<div class="row collapse">
				<div class="large-12 columns">
					<ul>
						<li><a href="" title="">Planeación</a></li>
						<li><a href="" title="">Nombres (Homonimia)</a></li>
						<li><a href="" title="">Formalización</a></li>
						<li><a href="" title="">Puesta en marcha</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="relevant-cta"><a href="" class="button right" title="">¿Cómo empezar?</a></div>
	</div>
</article>