<article class="relevant-3">
	<div class="panel">
	<header class="title">Inscripciones<br/> y renovaciones</header>
	</div>
	<div class="panel hide-for-small-only">
		<div class="description"><strong>Inscriba, obtenga su certificado o renueve</strong></div>
		<div class="relevant-offer">
			<div class="row collapse">
				<div class="large-12 columns">
					<ul>
						<li><a href="" title="">Matrícula Mercantil (RUES)</a></li>
						<li><a href="" title="">Regístro Único de proponentes (RUP)</a></li>
						<li><a href="" title="">Fundaciones y Asociaciones (ESALES)</a></li>
						<li><a href="" title="">Turismo (RNT)</a></li>
						<li><a href="" title="">Estado de su trámite</a></li>
					</ul>
					<a href="" class="view-more" title="">Todos los certificados</a>
				</div>
			</div>
		</div>
		<div class="relevant-cta"><a href="" class="button right" title="">Renovaciones</a></div>
	</div>
</article>