<article class="relevant-1">
	<div class="panel">
	<header class="title">{{ global.relevant-title-1 }}</header>
	</div>
	<div class="panel hide-for-small-only">
		<div class="description"><strong>{{ global.relevant-description-1 }}</strong></div>
		<div class="relevant-offer">
			<div class="row collapse">
				<div class="large-12 columns">
					<ul>
						{% for item in global.relevant-1 %}
							<li><a href="" title="">{{ item.item}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="relevant-cta"><a href="" class="button right" title="">{{ global.relevant-action-1 }}</a></div>
	</div>
</article>