<article class="relevant-3">
	<div class="panel">
	<header class="title">{{ global.relevant-title-3 }}</header>
	</div>
	<div class="panel hide-for-small-only">
		<div class="description"><strong>{{ global.relevant-description-3 }}</strong></div>
		<div class="relevant-offer">
			<div class="row collapse">
				<div class="large-12 columns">
					<div class=""><strong>Por necesidad:</strong></div>
					<ul>
						{% for item in global.relevant-3 %}
							<li><a href="" title="">{{ item.item}}</a></li>
						{% endfor %}
					</ul>
					<a href="" class="view-more" title="">Todos los certificados</a>
				</div>
			</div>
		</div>
		<div class="relevant-cta"><a href="" class="button right" title="">{{ global.relevant-action-3 }}</a></div>
	</div>
</article>