<article class="relevant-1">
	<div class="panel">
		<div class="row">
			<div class="large-8 medium-6 columns">
				<header class="title">Cree<br/>su empresa</header>
			</div>
			<div class="large-4 medium-6 columns">
				<div class="relevant-cta"><a href="" class="button right expand" title="">Realizar diagn贸stico</a></div>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="relevant-offer">
			<div class="row collapse">
				<div class="large-3 small-12 columns">
					<div class=""><strong>C贸mo empezar</strong></div>
					<ul>
						<li><a href="" title="">Item 1</a></li>
						<li><a href="" title="">Item 2</a></li>
						<li><a href="" title="">Item 3</a></li>
					</ul>
				</div>
				<div class="large-3 small-12  columns">
					<div class=""><strong>Planeaci贸n</strong></div>
					<ul>
						<li><a href="" title="">Item 1</a></li>
						<li><a href="" title="">Item 2</a></li>
						<li><a href="" title="">Item 3</a></li>
					</ul>
				</div>
				<div class="large-3 small-12  columns">
					<div class=""><strong>Formalizaci贸n</strong></div>
					<ul>
						<li><a href="" title="">Item 1</a></li>
						<li><a href="" title="">Item 2</a></li>
						<li><a href="" title="">Item 3</a></li>
					</ul>
				</div>
				<div class="large-3 small-12  columns">
					<div class=""><strong>Puesta en marcha</strong></div>
					<ul>
						<li><a href="" title="">Item 1</a></li>
						<li><a href="" title="">Item 2</a></li>
						<li><a href="" title="">Item 3</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</article>