<aside class="relate-events">

		<ul class="event-item">
			<li>
				<div class="row">
					<div class="large-2 columns">
						<span class="month">FEB</span>
						<span class="date">15</span>
					</div>
					<div class="large-10 columns">
						<a href="" class="" title="">Foro "Bogotá siempre gana con el Sistema integrado de Transporte "</a>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="large-2 columns">
						<span class="month">FEB</span>
						<span class="date">15</span>
					</div>
					<div class="large-10 columns">
						<a href="" class="" title="">Foro "Bogotá siempre gana con el Sistema integrado de Transporte "</a>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="large-2 columns">
						<span class="month">FEB</span>
						<span class="date">15</span>
					</div>
					<div class="large-10 columns">
						<a href="" class="" title="">Foro "Bogotá siempre gana con el Sistema integrado de Transporte "</a>
					</div>
				</div>
			</li>
			<li>
				<div class="row">
					<div class="large-2 columns">
						<span class="month">FEB</span>
						<span class="date">15</span>
					</div>
					<div class="large-10 columns">
						<a href="" class="" title="">Foro "Bogotá siempre gana con el Sistema integrado de Transporte "</a>
					</div>
				</div>
			</li>
		</ul>
	<div class="text-right">
		<a href="" class="view-more" title="">Ver más eventos</a>
	</div>
</aside>