<div class="social">
	<div class="row">
		<div class="large-6 columns">Contáctenos</div>
		<div class="large-6 columns text-right	"><a href="" class="view-more" title="">Sedes y horarios</a></div>
	</div>
	<dl class="sub-nav">
		<dd class=""><a href="" class="" title=""><span class="icon_chat"></span>Chat</a></dd>
		<dd class=""><a href="" class="" title=""><span class="icon_call"></span>Llamada virtual</a></dd>
		<dd class=""><a href="" class="" title=""><span class="icon_write"></span>Escríbanos</a></dd>
		<dd class=""><a href="" class="" title=""><span class="icon_telephone"></span>Línea de atención al cliente</a></dd>
	</dl>
</div>


