<div class="contact">
	<header class="footer-title">Contáctenos</header>
	<dl class="sub-nav">
		<dd class=""><a href="" class="" title=""><span class="icon_chat"></span>Chat</a></dd>
		<dd class=""><a href="" class="" title=""><span class="icon_locations"></span>Sedes y horarios</a></dd>
		<dd class=""><a href="" class="" title=""><span class="icon_call"></span>Llamada virtual</a></dd>
		<dd class=""><a href="" class="" title=""><span class="icon_write"></span>Escríbanos</a></dd>
		<dd class=""><a href="" class="" title=""><span class="icon_telephone"></span>Línea de atención al cliente</a> (571) 383 0330
		</dd>
	</dl>
</div>
