<div class="copyright">
	<div class="row">
		<div class="large-6 columns">
		<dl class="sub-nav">
			{% for item in global.copyright %}
				<dd class=""><a href="" class="" title="">{{ item.name }}</a></dd>
			{% endfor %}
		</dl>

		</div>
		<div class="large-6 columns">
		<div class="sub-nav text-right">
			Cámara de Comercio de Bogotá - Todos los derechos reservados
		</div>

		</div>
	</div>
</div>