<div class="social hide-for-small-only">
	<header class="footer-title">Siganos en Redes</header>
		<dl class="sub-nav">
			<dd class=""><a href="" class="icon_facebook" title="">facebook</a></dd>
			<dd class=""><a href="" class="icon_twitter" title="">twitter</a></dd>
			<dd class=""><a href="" class="icon_youtube" title="">youtube</a></dd>
			<dd class=""><a href="" class="icon_linkedin" title="">linkedin</a></dd>
			<dd class=""><a href="" class="icon_flicker" title="">flicker</a></dd>
		</dl>
</div>