<header>Encuentre la capacitación que se ajuste a sus necesidades</header>
<div class="filter by-type">
	<div>Por tipo</div>
	<ul class="side-nav">
		<li><a href="#">Charlas (23)</a></li>
		<li><a href="#">Diplomados (15)</a></li>
		<li><a href="#">Seminarios (9)</a></li>
		<li><a href="#">Cursos Virtual(23)</a></li>
	</ul>
</div>
<div class="filter by-area">
	<div>Por tipo</div>
	<ul class="side-nav">
		<li><a href="#">Ventas (23)</a></li>
		<li><a href="#">Gerencia (15)</a></li>
		<li><a href="#">Internacionalización (9)</a></li>
		<li><a href="#">Planes (23)</a></li>
	</ul>
</div>
<div class="filter by-date">
	<div>Por fecha</div>
	<select>
		<option value="husker">Husker</option>
		<option value="starbuck">Starbuck</option>
		<option value="hotdog">Hot Dog</option>
		<option value="apollo">Apollo</option>
	</select>
</div>
<div class="filter by-price">
	<div>Por precio</div>
	<select>
		<option value="husker">Husker</option>
		<option value="starbuck">Starbuck</option>
		<option value="hotdog">Hot Dog</option>
		<option value="apollo">Apollo</option>
	</select>
</div>