	<div class="row">
		<header>Lo que puede interesar</header>
		<div class="large-4 columns">
			<article class="news-mini">
				<header>Noticias</header>
				{% include "news/sector-news" %}
			</article>
		</div>
		<div class="large-4 columns">
			<article class="events-mini">
				<header>Eventos</header>
				{% include "events/relate-events" %}
			</article>
		</div>
		<div class="large-4 columns">
			<header>Capacitaciones</header>
			{% include "services/training-mini" %}
		</div>
	</div>
