<div class="large-8 columns">
	<dl class="sub-nav">
		<dd class=""><a href="#">Todas</a></dd>
		<dd><a href="#">Recientes</a></dd>
		<dd><a href="#">Presenciales</a></dd>
		<dd><a href="#">Virtuales</a></dd>
		<dd><a href="#">Gratuitos</a></dd>
	</dl>

</div>
<div class="large-4 columns">
	ordenar por
	<select>
		<option value="husker">Husker</option>
		<option value="starbuck">Starbuck</option>
		<option value="hotdog">Hot Dog</option>
		<option value="apollo">Apollo</option>
	</select>
</div>